body{
	margin: 0px;
	padding: 0px;
	background-color: #1C1C1C;
}
p{
	font-family: Agency FB;
	font-size: 22px;
}
header{
	background: linear-gradient(#202020, #151515);
	border: 1px solid transparent;
	width: 100%;
	height: 100px;
}
header h1{
	border: 0px solid red;
	margin-top: 25px;
	margin-left: 0px;
	font-family: Agency FB;
	text-align: center;
	color: #fff;
	font-size: 250%;
}

/* ------------------------- HEADER ------------------------- */
/* ------------------------- NAV ------------------------- */


nav{
	margin-left: -35px;
	margin-top: 0px;
	border: 1px solid transparent;
	background-color: #101010;
}
nav ul{
	text-align: center;
	border: 0px solid yellow;

}
nav ul li{
	margin: 0px auto;
	border: 0px solid yellow;
	text-align: center;
	display: inline;
	
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-family: Agency FB;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 10px;
}
.mark{
	background-color: #252525;
}
a:hover {background-color: #363636;}
a:visited {}
a:link {}

/* ------------------------- NAV ------------------------- */
/* ------------------------- SECTION ------------------------- */

section{
	height: 850px;
	width: 100%;
	margin: 0px auto;
	border: 1px solid transparent;
	text-align: center;
	color: white;
	background-image: url(img/dark_mundi3.png);
	background-repeat: no-repeat;
	background-size: 102%;
}
input{
	width: 70%;
}

.login{
	border: 0px solid gray;
	height: 350px;
	width: 15%;
	margin: 100px auto;
	padding: 15px;
	border-radius: 10px;
	background: linear-gradient(#202020, #101010);
}
.login .foto_perfil{
	border: 0px solid white;
	margin: 20px auto;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background-image: url(img/login.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.login form{
	border: 0px solid red;
}
.login p{
	border: 0px solid red;
	margin-bottom: 10px;
}

/* ------------------------- SECTION ------------------------- */
/* ------------------------- FOOTER ------------------------- */

footer{
	border: 0px solid red;
	background-color: 	#1C1C1C;
}
.bgmap{
	height: 850px;
	width: 100%;
	margin: 0px auto;
	border: 1px solid transparent;
	color: white;
	text-align: center;
	background-image: url(img/dark_mundi3.png);
	backgrowund: linear-gradient(#202020, #101010);
	background-repeat: no-repeat;
	background-size: cover;
}
.map{
	border: 0px solid red;
	height: 800px;
	width: 95%;
	margin: -0px auto;
	background-image: url(img/oldmap.png);
	background-position: center;
	background-size: 90%;
	background-repeat: no-repeat;
}
