
	body{
		border: 0px solid red;
		margin: 0px auto;
		background-image: url(img/6.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 0px -35px;
	}


.conteudo{
	border: 0px solid red;
	margin: -30px auto;
	height: 1190px;
	width: 85%;
	font-size: 200px;
}
.biomas1{
	border: 0px solid white;
	margin: 60px auto;
	height: 620px;
	width: 95%;
	font-size: 20%;
	color: #0E0D0B;
	font-family: Agency FB;
}

/* ------------------------- ------------------------- */
.box_bioma{
	border: 0px solid yellow;
	float: left;
	margin: 0px 1% 0px 0px;
	height: 560px;
	width: 32.2%;
}
.bioma_txt p{
	border: 0px solid red;
	margin: 16px 0% 0px 0%;
	height: 230px;
	border-radius: 10px;
	width: 100%;
	text-align: center;

	color: #fff;
	word-wrap: break-word;
	font-size: 42.5%;
	font-family: Arial;
	background-color: rgba(0,0,0,0.4);
}

.bioma_img1{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}
.bioma_img2{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}
.bioma_img3{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}
.bioma_img4{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}
.bioma_img5{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}
.bioma_img6{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/6b.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}
.bioma_img7{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}
.bioma_img8{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}
.bioma_img9{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}
.bioma_img10{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}.bioma_img10{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}.bioma_img12{
	border: 0px solid red;
	margin: 0px 0% 0px 0%;
	height: 300px;
	background-image: url(img/arayo/12.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	width: 100%;
}