body{
	margin: 0px;
	padding: 0px;
	background-color: #101010;
}
p{
	font-family: Agency FB;
	font-size: 22px;
}

/* ------------------------- HEADER ------------------------- */
header{
	border: 1px solid transparent;
	height: 165px;
	width: 100%;
	background-color: #101010;
	text-align: center;
}
header h1 a{
	font-family: Agency FB;
	border: 1px solid transparent;
	font-size: 180%;
	text-decoration: none;
	color: white;
	
}
h1 a:hover{}

#reinos{
	border: 1px solid transparent;
	margin-top: -50px;
	height: 50px;
	min-width: 1300px;

}
#reinos ul{
	border: 0px solid #505050;
	margin-left: -30px;
	list-style: none;
	line-height: 0px;
	margin-top: 25px;
	text-align: center;
}
#reinos li{
	display: inline;
	border: 0px solid red;

}
#reinos a{
	border-top: 0px solid #505050;
	border-left: 0px solid #303030;
	text-decoration: none;
	font-family: Agency FB;
	font-weight: 800;
	padding: 0.5%;
	font-size: 130%;
	color: #909090
}
#reinos a:hover{
	color: #fff;
	background-color: #202020;
}
.mark{
	background-color: #202020;
}

/* -------------------------SECTION ------------------------- */
section{
	border:0px solid red;
	width: 100%;
	height: 600px;
}
/* -------------------------SECTION ------------------------- */

